
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear,</p>
    <p>
      Your upcoming interview slot from <%= @interview.start_time %> till <%= @interview.end_time %> is cancelled.
    </p>

    <p>Thank you</p>
    <p>Best, <br>Interview Scheduler Team</p>
  </body>
</html>