
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear,</p>
    <p>
      You have an upcoming interview in 30 minutes. It is scheduled from <%= @interview.start_time %> till <%= @interview.end_time %>.
    </p>

    <p>Thank you</p>
    <p>Best, <br>Interview Scheduler Team</p>
  </body>
</html>